#s-cc792970-c31f-4394-a729-b9ca6e9ec535 > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Path_1 {
  position: absolute;
  width: 17.838714599609375px;
  height: 12.0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Path_2 {
  position: absolute;
  width: 15.856689453125px;
  height: 11.999998092651367px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Path_3 {
  position: absolute;
  width: 23.78497314453125px;
  height: 12.0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Rect_1 {
  position: absolute;
  width: 17.59820556640625px;
  height: 7.764710426330566px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Path_4 {
  position: absolute;
  width: 33.393798828125px;
  height: 10.226539611816406px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Image_1 {
  position: absolute;
  width: 306.3707865168535px;
  height: 605.9333333333327px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Image_3 {
  position: absolute;
  width: 429.99999999999966px;
  height: 182.1265636497424px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Rectangle_1 {
  position: absolute;
  width: 143.0px;
  min-height: 63.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #606060;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_30.0.0_google',Arial;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Image_5 {
  position: absolute;
  width: 64.32151795763048px;
  height: 64.32151795763042px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_30.0.0_google',Arial;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_2 span {
  color: #606060;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #606060;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_3 {
  position: absolute;
  width: 399.895040512085px;
  min-height: 93.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_3 span {
  color: #606060;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #606060;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Button_1 {
  position: absolute;
  width: 400.0000000000002px;
  min-height: 56.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_30.0.0_google',Arial;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #FFD633;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Button_1 > .borderLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_30.0.0_google',Arial;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Image_29 {
  position: absolute;
  width: 64.0px;
  height: 64.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_30.0.0_google',Arial;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_5 span {
  color: #606060;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #606060;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_6 {
  position: absolute;
  width: 399.895040512085px;
  min-height: 93.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_6 span {
  color: #606060;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #606060;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Button_2 {
  position: absolute;
  width: 400.0000000000002px;
  min-height: 56.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_30.0.0_google',Arial;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #FFD633;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Button_2 > .borderLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Button_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Path_33 {
  position: absolute;
  width: 16.637741088867188px;
  height: 13.631800651550293px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Image_6 {
  position: absolute;
  width: 337.33333333333303px;
  height: 252.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Rectangle_2 {
  position: absolute;
  width: 429.9999999999994px;
  min-height: 52.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Path_11 {
  position: absolute;
  width: 20.90277862548828px;
  height: 11.579999923706055px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Path_12 {
  position: absolute;
  width: 20.90277862548828px;
  height: 9.358081817626953px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_30.0.0_google',Arial;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_8 span {
  color: #606060;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #606060;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Path_15 {
  position: absolute;
  width: 18.036609649658203px;
  height: 19.462522506713867px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_30.0.0_google',Arial;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_9 span {
  color: #606060;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #606060;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Path_20 {
  position: absolute;
  width: 19.409732818603516px;
  height: 19.500011444091797px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_30.0.0_google',Arial;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_10 span {
  color: #606060;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #606060;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_30.0.0_google',Arial;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_7 span {
  color: #606060;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #606060;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Path_7 {
  position: absolute;
  width: 21.015989303588867px;
  height: 10.632843017578125px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Path_10 {
  position: absolute;
  width: 16.5px;
  height: 16.31800079345703px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Path_27 {
  position: absolute;
  width: 16.5px;
  height: 20.211578369140625px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Path_30 {
  position: absolute;
  width: 16.5px;
  height: 20.211578369140625px;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 #s-Image_35 {
  position: absolute;
  width: 25.0px;
  height: 25.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-cc792970-c31f-4394-a729-b9ca6e9ec535 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}