#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_1 {
  position: absolute;
  width: 17.838714599609375px;
  height: 12.0px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_2 {
  position: absolute;
  width: 15.856689453125px;
  height: 11.999998092651367px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_3 {
  position: absolute;
  width: 23.78497314453125px;
  height: 12.0px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Rect_1 {
  position: absolute;
  width: 17.59820556640625px;
  height: 7.764710426330566px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_4 {
  position: absolute;
  width: 33.393798828125px;
  height: 10.226539611816406px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_5 {
  position: absolute;
  width: 318.58026123046875px;
  height: 318.58154296875px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_6 {
  position: absolute;
  width: 237.09329223632812px;
  height: 237.09486389160156px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_7 {
  position: absolute;
  width: 4.938878059387207px;
  height: 2.0901031494140625px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_8 {
  position: absolute;
  width: 4.1076836585998535px;
  height: 3.9680938720703125px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_9 {
  position: absolute;
  width: 2.044220447540283px;
  height: 4.872642517089844px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_10 {
  position: absolute;
  width: 4.046697616577148px;
  height: 4.095306396484375px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_11 {
  position: absolute;
  width: 4.93734073638916px;
  height: 2.0900955200195312px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_12 {
  position: absolute;
  width: 4.109220504760742px;
  height: 3.9680938720703125px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_13 {
  position: absolute;
  width: 2.044219970703125px;
  height: 4.872657775878906px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_14 {
  position: absolute;
  width: 4.046679973602295px;
  height: 4.0952911376953125px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_15 {
  position: absolute;
  width: 3.2914581298828125px;
  height: 3.3985061645507812px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_16 {
  position: absolute;
  width: 2.9752197265625px;
  height: 2.8983612060546875px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_17 {
  position: absolute;
  width: 3.2914581298828125px;
  height: 3.3974533081054688px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_18 {
  position: absolute;
  width: 2.9734649658203125px;
  height: 2.8974838256835938px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_19 {
  position: absolute;
  width: 5.125274658203125px;
  height: 2.0838828086853027px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_20 {
  position: absolute;
  width: 2.045928955078125px;
  height: 4.670464038848877px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_21 {
  position: absolute;
  width: 5.12530517578125px;
  height: 2.0823631286621094px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_22 {
  position: absolute;
  width: 2.0476837158203125px;
  height: 4.670464515686035px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_23 {
  position: absolute;
  width: 18.441638946533203px;
  height: 26.546340942382812px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_24 {
  position: absolute;
  width: 9.108013153076172px;
  height: 12.759013175964355px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_25 {
  position: absolute;
  width: 8.385040283203125px;
  height: 8.385515213012695px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_26 {
  position: absolute;
  width: 7.30169677734375px;
  height: 7.299957275390625px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_27 {
  position: absolute;
  width: 6.520073890686035px;
  height: 6.520076751708984px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_28 {
  position: absolute;
  width: 29.078018188476562px;
  height: 29.079078674316406px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_29 {
  position: absolute;
  width: 232.29986572265625px;
  height: 192.88250732421875px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_30 {
  position: absolute;
  width: 52.572967529296875px;
  height: 69.17422485351562px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_31 {
  position: absolute;
  width: 121.46469116210938px;
  height: 103.22740936279297px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_32 {
  position: absolute;
  width: 83.72300720214844px;
  height: 46.920074462890625px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_33 {
  position: absolute;
  width: 46.28810119628906px;
  height: 54.70536804199219px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_34 {
  position: absolute;
  width: 33.37422180175781px;
  height: 25.479568481445312px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_35 {
  position: absolute;
  width: 56.91588592529297px;
  height: 74.88912200927734px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Button_1 {
  position: absolute;
  width: 400.0000000000002px;
  min-height: 56.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_30.0.0_google',Arial;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #FFD633;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Button_1 > .borderLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_30.0.0_google',Arial;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Path_36 {
  position: absolute;
  width: 16.637741088867188px;
  height: 13.631800651550293px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_30.0.0_google',Arial;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Text_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Text_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 24.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 24.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Text_3 {
  position: absolute;
  width: 400.00000000000006px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_30.0.0_google',Arial;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Text_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Text_3 span {
  color: #5D5D5D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #5D5D5D;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ff968c59-1202-4f5d-8013-6a4a1457eaf9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}